body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
}

a {
  color: #00b7ff;
}

.left.aligned {
  float: left;
}

.right.aligned {
  float: right;
}

.left.align.text {
  text-align: left;
}

.right.align.text {
  text-align: right;
}

.center.align.text {
  text-align: center;
}

.container {
  margin: auto;
  width: auto;
}

@media (min-width: 800px) and (max-width: 999px) {
  .container {
    width: 600px;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .container {
    width: 800px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

.row {
  margin-bottom: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

.row:before,
.row:after {
  content: ' ';
  display: table;
}

.row:after {
  clear: both;
}

.column {
  float: left;
  min-height: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.column.wide.one {
  width: 8.33333%;
}

.column.wide.two {
  width: 16.66667%;
}

.column.wide.three {
  width: 25%;
}

.column.wide.four {
  width: 33.33333%;
}

.column.wide.five {
  width: 41.66667%;
}

.column.wide.six {
  width: 50%;
}

.column.wide.seven {
  width: 58.33333%;
}

.column.wide.eight {
  width: 66.66667%;
}

.column.wide.nine {
  width: 75%;
}

.column.wide.ten {
  width: 83.33333%;
}

.column.wide.eleven {
  width: 91.66667%;
}

.column.wide.twelve {
  width: 100%;
}

.border.small-radius {
  border-radius: 10px;
}

.border.medium-radius {
  border-radius: 25px;
}

.border.no.top {
    border-top: 0 solid #eee;
}

.border.no.bottom {
    border-bottom: 0 solid #eee;
}

.border.no.left {
    border-left: 0 solid #eee;
}

.border.no.right {
    border-right: 0 solid #eee;
}

.border.no:not(.top):not(.bottom):not(.left):not(.right) {
    border: 0 solid #eee;
}

.border.small.top {
    border-top: 1px solid #eee;
}

.border.small.bottom {
    border-bottom: 1px solid #eee;
}

.border.small.left {
    border-left: 1px solid #eee;
}

.border.small.right {
    border-right: 1px solid #eee;
}

.border.small:not(.top):not(.bottom):not(.left):not(.right):not(.no) {
    border: 1px solid #eee;
}

.border.medium.top {
    border-top: 2px solid #eee;
}

.border.medium.bottom {
    border-bottom: 2px solid #eee;
}

.border.medium.left {
    border-left: 2px solid #eee;
}

.border.medium.right {
    border-right: 2px solid #eee;
}

.border.medium:not(.top):not(.bottom):not(.left):not(.right):not(.no) {
    border: 2px solid #eee;
}

.button {
  background: #ddd;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  height: 35px;
  min-width: 9px;
  padding: 0 10px
}

.button[disabled],
.button.disabled {
    opacity: 0.6;
}

.button.primary:active {
    border: 1px solid #e6a329;
}

input {
    background-color: #fff;
    border-color: #eee;
    border-radius: 5px;
    border-width: 1px solid #ddd;
    height: 30px;
    min-width: 10px;
}

input:active {
    border-color: #f75;
}
